$main-color: #333333;
$secondary-color: #bdbdbd;
$bgc: #fbfbfb;
$thirdy-color: #e5e5e5;
$main-fonts: 'TTHoves', sans-serif;

//break points
$desktop: 1440px;
$minidesktop: 1024px;
$tablet: 768px;
$big-mobile: 568px;
$mobile: 320px;
