@media screen and (min-width: $mobile) {
  .button {
    position: relative;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    border: none;
    cursor: pointer;
    &__slider {
      width: 221.81px;
      height: 71px;
      background: url(../img/slider/ico-shaperight.svg) no-repeat #fff;
      background-position: 82%;
      position: absolute;
      top: 760px;
      left: 0;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      z-index: 999999;
    }
    &__company {
      width: 221.81px;
      height: 71px;
      background: url(../img/slider/ico-shaperight.svg) no-repeat #fff;
      background-position: 82%;
      margin-top: 21px;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      z-index: 999999;
    }
    &__project {
      display: block;
      width: 221.81px;
      height: 71px;
      background: url(../img/slider/ico-shapechangecolor.svg) no-repeat #333333;
      font-weight: 300;
      margin: 30px auto 0;
      background-position: 86%;
      z-index: 999999;
      color: white;
      padding: 20px 40px 20px 20px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: -1px;
        height: 0px;
        width: 100%;
        z-index: -1;
        background: url(../img/slider/ico-shaperight.svg) no-repeat;
        background-position: 86%;
        transition: 0.5s;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        color: $secondary-color !important;
        background-color: $secondary-color;
        transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
      }
    }
    &__contact-us {
      width: 221.81px;
      height: 71px;
      z-index: 999999;
      color: white;
      border: none;
      background: url(../img/slider/ico-shapechangecolor.svg) no-repeat #333333;
      background-position: 82%;
      padding-right: 40px;
      display: block;
      margin: 21px auto 0;
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: -1px;
        height: 0px;
        width: 100%;
        z-index: -1;
        background: url(../img/slider/ico-shapechangecolor.svg) no-repeat;
        background-position: 82%;
        transition: 0.5s;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        color: $secondary-color !important;
        background-color: $secondary-color;
        transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  
}

@media screen and (min-width: $minidesktop) {
  .button {
    &__project {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: $desktop) {
  .button {
    position: relative;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    border: none;
    cursor: pointer;
    @include button-animation-dark;
    &__slider {
      width: 221.81px;
      height: 71px;
      background: url(../img/slider/ico-shaperight.svg) no-repeat #fff;
      background-position: 82%;
      position: absolute;
      top: 760px;
      left: 0;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      z-index: 999999;
    }
    &__company {
      width: 221.81px;
      height: 71px;
      background: url(../img/slider/ico-shaperight.svg) no-repeat #fff;
      background-position: 82%;
      margin-top: 21px;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      z-index: 999999;
    }
    &__project {
      display: block;
      width: 221.81px;
      height: 71px;
      background: url(../img/slider/ico-shapechangecolor.svg) no-repeat #333333;
      font-weight: 300;
      margin-top: 30px;
      margin-right: 0;
      background-position: 86%;
      z-index: 999999;
      color: white;
      padding: 20px 40px 20px 20px;
      &:hover {
        color: black !important;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: -1px;
        height: 0px;
        width: 100%;
        z-index: -1;
        background: url(../img/slider/ico-shaperight.svg) no-repeat;
        background-position: 86%;
        transition: 0.5s;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        color: $secondary-color !important;
        background-color: $secondary-color;
        transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
      }
    }
    &__contact-us {
      width: 221.81px;
      height: 71px;
      z-index: 999999;
      color: white;
      border: none;
      background: url(../img/slider/ico-shapechangecolor.svg) no-repeat #333333;
      background-position: 82%;
      padding-right: 40px;
      margin: 21px 0 0 0;
      &:hover {
        color: black !important;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: -1px;
        height: 0px;
        width: 100%;
        z-index: -1;
        background: url(../img/slider/ico-shapechangecolor.svg) no-repeat;
        background-position: 82%;
        transition: 0.5s;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        color: $secondary-color !important;
        background-color: $secondary-color;
        transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
      }
    }
    &__photo {
      width: 221.81px;
      height: 71px;
      position: absolute;
      top: 63%;
      left: 3.5%;
      padding: 27px;
      color: white;
      text-align: center;
      text-transform: uppercase;
      background: url(../img/slider/ico-shapechangecolor.svg) no-repeat;
      background-position: 87%;
    }
  }

  .head {
    font-family: $main-fonts;
    color: $secondary-color;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
  }
}


