@media screen and (min-width: $mobile) {
  .company {
    padding: 20px 0;
    background-color: $bgc;
    &__image {
      display: none;
    }
    &__description {
      margin-top: 10px;
    }
    &__head {
      text-align: center;
    }
    &__company {
      margin: 10px auto;
    }
  }
  .button__company {
    margin: 10px auto;
  }
  .head {
    font-family: TT Hoves;
    font-weight: 300;
    font-size: 50px;
    color: $secondary-color;
  }
  .description {
    font-family: TT Hoves;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: black;
    text-align: center;
  }
}

@media screen and (min-width: $tablet) {
  .company {
    margin-top: 40px;
    &__button {
      margin: 15px auto;
    }
  }
}

@media screen and (min-width: $minidesktop) {
  .company {
    background-color: unset;
    padding-top: 136px;
    &__wrapper {
      display: flex;
      flex-direction: row;
      padding: 0 70px 0 100px;
      position: relative;
    }
    &__bgc {
      padding: 10px 0;
      background-color: $bgc;
    }
    &__info {
      width: 400px;
      margin-left: 30px;
    }
    &__image {
      display: block;
      width: 570px;
    }
    &__head {
      font-family: TT Hoves;
      font-style: normal;
      font-weight: 300;
      font-size: 64px;
      line-height: 64px;
      color: #bdbdbd;
    }
    &__description {
      font-family: TTHoves;
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
      color: black;
      margin-top: 20px;
      text-align: start;
    }
  }
  .tree {
    display: none;
    margin-top: -100px;
  }
  .one {
    display: none;
    margin-bottom: 110px;
  }
  .two {
    display: inline-block;
    margin-left: 20px;
  }
}

@media screen and (min-width: $desktop) {
  .company {
    background-color: unset;
    padding-top: 136px;
    &__wrapper {
      display: flex;
      flex-direction: row;
      padding: 0 70px 0 100px;
      position: relative;
    }
    &__bgc {
      padding: 10px 0;
      background-color: $bgc;
    }
    &__info {
      width: 400px;
      margin-left: 30px;
    }
    &__image {
      display: block;
      width: 570px;
    }
    &__head {
      font-family: TT Hoves;
      font-style: normal;
      font-weight: 300;
      font-size: 64px;
      line-height: 64px;
      color: #bdbdbd;
    }
    &__description {
      font-family: TTHoves;
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
      color: black;
      margin-top: 20px;
      text-align: start;
    }
  }
  .tree {
    display: inline-block;
    margin-top: -100px;
  }
  .one {
    display: inline-block;
    margin-bottom: 110px;
  }
  .two {
    display: inline-block;
    margin-left: 20px;
  }
}
