@media screen and (min-width: $mobile) {
  .contact-us {
    padding: 30px 0;
    &__header {
      text-align: center;
    }
    &__photo {
      display: none;
      img {
        width: 749px;
        height: 369px;
        object-fit: cover;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__input {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.04em;
      padding: 15px 0 14px 21px;
      background: #f3f3f3;
      border: none;
    }
  }
  .politics {
    display: flex;
    align-items: center;
    &__text {
      margin-top: 15px;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .contact-us {
    padding-top: 120px;
    padding-bottom: 142px;
    &__photo {
      display: block;
      margin-left: 30px;
    }
    &__header {
      text-align: start;
      margin-bottom: 22px;
    }
    &__info {
      display: flex;
      justify-content: space-between;
      margin-top: 22px;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input {
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.04em;
        padding: 15px 0 14px 21px;
        background: #f3f3f3;
        border: none;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .contact-us__message {
      padding-bottom: 115px;
    }
    .contact-us__politics {
      margin-left: 40px;
      margin-top: 22px;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: $main-color;
    }
  }
  .politics {
    display: flex;
    align-items: center;
    margin-top: 22px;
    &__text {
      margin: 0 0 0 12px;
      font-size: 14px;
    }
  }
}
