@media screen and (min-width: $mobile) {
  .footer {
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    &__logo {
      img {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
      }
    }
    &__header {
      color: white;
      font-family: TT Hoves;
      font-weight: bold;
      font-size: 15px;
      padding: 3px 0 0 30px;
      border-bottom: 1px solid black;
      position: relative;
      &::before,
      &::after {
        content: '';
        width: 10px;
        height: 1px;
        background-color: black;
        position: absolute;
        top: 10px;
        transition: all 0.3s ease 0s;
      }
      &::before {
        transform: rotate(40deg);
        left: 0;
      }
      &::after {
        transform: rotate(-40deg);
        left: 8px;
      }
      &.active {
        display: block;
        &::before {
          transform: rotate(-40deg);
        }
        &::after {
          transform: rotate(40deg);
        }
      }
    }
    &__ul {
      display: none;
      li {
        margin-top: 20px;
      }
      a {
        color: white;
        list-style-type: none;
        text-decoration: none;
      }
      &.active {
        display: block;
      }
    }
  }
  .politics {
    margin: 20px 0 0 0;
    &__text {
      margin: 0 0 0 5px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .footer {
    background-color: #2c2c2c;
    &__content {
      display: flex;
      justify-content: space-between;
      padding-top: 58px;
    }
    &__header {
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      &__info {
        display: block;
      }
    }
    &__social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin-left: 40px;
        &:first-child {
          margin-left: 0;
        }
      }
      img {
        min-width: 20px;
        height: 20px;
      }
    }
    &__ul {
      margin-top: 25px;
      list-style-type: none;
      li {
        margin-top: 16px;
      }
      a {
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.03em;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
    &__contacts {
      li {
        margin-top: 33px;
      }
    }
    .divider__footer {
      width: 100%;
      margin-top: 60px;
      border-top: 1px solid #fff;
      opacity: 0.1;
    }
    &__rights {
      color: rgba(200, 200, 200, 0.5);
      text-align: center;
      font-weight: normal;
      font-size: 12px;
      line-height: 22px;
      padding: 24px 0 24px 0;
    }
  }
}
