//phone version
@media screen and (min-width: $mobile) {
  .header {
    &__wrapper {
      padding: 7px 0;
      display: flex;
      align-items: center;
    }
    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      margin-left: auto;
      &.active {
        span {
          transform: scale(0);
        }
      }
      span {
        position: absolute;
        background-color: black;
        left: 0;
        top: 10px;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
      }
      &::after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &::before {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &.active {
        &::before {
          transform: rotate(45deg);
          top: 9px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }
    }
  }
  .menu {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    &.active {
      left: 0;
      visibility: visible;
      opacity: 1;
    }
    &__list {
      display: flex;
      flex-direction: column;
      background-color: #f8f8f8;
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100vh;
      z-index: 999999;
    }
    &__item {
      margin-top: 50px;
      margin-left: 25%;
      a {
        color: $main-color;
      }
    }
  }
}

//tablet version
@media screen and (min-width: $tablet) {
}

//minidesktop version
@media screen and (min-width: $minidesktop) {
}

//desktop version
@media screen and (min-width: $desktop) {
  .header {
    width: 100%;
    &__wrapper {
      padding: 30px 0;
    }
    &__burger {
      display: none;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .menu {
    visibility: visible;
    opacity: 1;
    &__list {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: transparent;
    }
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 123px;
      }
    }
    &__item {
      margin-top: 1px;
      margin-left: 60px;
      list-style-type: none;
      font-size: 12px;
      line-height: 12px;
      font-weight: 400;
      color: $main-color;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      a {
        text-decoration: none;
        color: $main-color;
        position: relative;
        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $main-color;
          opacity: 0;
        }
        &::after {
          transform: translateY(10px);
          left: 0;
          transition: all 0.5s ease;
        }
        &::before {
          transform: translateY(0);
          left: 0;
          transition: all 0.5s ease;
        }
        &:hover::after {
          transform: translateY(15px);
          transition: 0.6s;
          opacity: 1;
        }
        &:hover::before {
          transform: translateY(-4px);
          transition: 0.6s;
          opacity: 1;
        }
      }
    }
  }
}
