@media screen and (min-width: $mobile) {
  .project {
    &__head {
      text-align: center;
      margin-bottom: 30px;
    }
    &__image {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__image {
      display: grid;
      grid-template: repeat(2, 150px) / repeat(1, 100%);
      grid-auto-rows: 280px;
      gap: 30px;
      &-block {
        &.horizontal-left {
          grid-row: 1;
          grid-column: unset;
        }
        &.horizontal-right {
          grid-row: 1;
          grid-column: unset;
        }
        &.horizontal-bottom {
          grid-row: 2;
          grid-column: unset;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (min-width: $minidesktop) {
  .project {
    &__image {
      display: grid;
      grid-template: repeat(2, 280px) / repeat(3, 312px);
      grid-auto-rows: 280px;
      gap: 30px;
      &-block {
        &.horizontal-left {
          grid-row: 1;
          grid-column: unset;
        }
        &.horizontal-right {
          grid-row: 1;
          grid-column: unset;
        }
        &.horizontal-bottom {
          grid-row: 2;
          grid-column: unset;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .project {
    &__head {
      font-family: $main-fonts;
      text-align: start;
      margin: 0 0 60px 0;
    }
    &__image {
      display: grid;
      grid-template: repeat(2, 280px) / repeat(4, 270px);
      grid-auto-rows: 280px;
      gap: 30px;
      &-block {
        display: block;
        background-color: violet;
        &.horizontal-left {
          grid-row: 1;
          grid-column: 1/3;
        }
        &.horizontal-right {
          grid-row: 1;
          grid-column: 3/5;
        }
        &.horizontal-bottom {
          grid-row: 2;
          grid-column: 2/4;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .box {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      transition: all 0.5s ease;
      opacity: 0;
    }
    &:hover::before {
      left: 0%;
      right: auto;
      width: 100%;
      opacity: 1;
    }
    &-content {
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transition: 0.8s;
      &:hover {
        opacity: 1;
        overflow: visible;
      }
    }
    &-text {
      font-family: TTHoves;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 64px;
      color: #ffffff;
      position: absolute;
      top: 48px;
      left: 79px;
      transition: 0.8s;
    }
  }
}
