@media screen and (min-width: $mobile) {
  .slider {
    &__head {
      padding: 20px 0;
      &-name {
        font-family: TTHoves;
        font-weight: 300;
        font-size: 40px;
        color: $secondary-color;
        text-align: center;
        text-transform: uppercase;
      }
      &-subname {
        font-family: TTHoves;
        font-weight: bold;
        font-size: 40px;
        color: $main-color;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  .counter {
    display: none;
  }
  .swiper {
    height: 400px;
    width: 100%;
    overflow: hidden;
    &__button {
      display: none;
    }
  }
  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: $big-mobile) {
  .swiper {
    height: 500px;
    width: 450px;
    overflow: hidden;
    &__button {
      display: none;
    }
  }
}

@media screen and (min-width: $tablet) {
  .slider {
    &__head {
      &-name {
        font-size: 60px;
      }
      &-subname {
        font-size: 60px;
      }
    }
  }
  .swiper {
    height: 600px;
    width: 500px;
    overflow: hidden;
    &__button {
      display: none;
    }
  }
}

@media screen and (min-width: $minidesktop) {
  .slider {
    &__head {
      &-name {
        text-align: start;
        font-size: 60px;
      }
      &-subname {
        text-align: start;
        font-size: 60px;
      }
    }
    &__line {
      position: absolute;
      height: 1px;
      width: 194px;
      background-color: $secondary-color;
      left: 140px;
      top: 66%;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      transform: translateX(25%);
    }
  }
  .swiper {
    height: 600px;
    width: 600px;
    margin: 0;
    overflow: hidden;
    &__button {
      display: flex;
      justify-content: space-between;
      width: 150px;
      margin-top: 90px;
    }
  }
  .counter {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-top: 90px;
    &__num {
      color: #bdbdbd;
      font-size: 24px;
      line-height: 24px;
    }
  }
  .oblique-divider {
    position: absolute;
    transform: rotate(-45deg);
    width: 44px;
    border-top: 2px solid #e0e0e0;
    top: 13px;
    right: 48px;
  }
  .swiper-button-next {
    position: relative;
    display: block;
    width: 53px;
    height: 53px;
    color: black;
    border: 1px solid $secondary-color;
    margin-left: 5px;
    margin-top: 0;
    &::after {
      content: '\2192';
      width: 30px;
      height: 27px;
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50%, 50%);
    }
    &:hover {
      background: $thirdy-color;
      transition: 0.3s;
    }
  }
  .swiper-button-prev {
    position: relative;
    display: block;
    width: 53px;
    height: 53px;
    color: black;
    border: 1px solid $secondary-color;
    margin: 0;
    &::after {
      content: '\2190';
      width: 30px;
      height: 27px;
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50%, 50%);
    }
    &:hover {
      background: $thirdy-color;
      transition: 0.3s;
    }
  }
  .button__slider {
    top: 529px;
  }
}

@media screen and (min-width: $desktop) {
  .swiper {
    width: 770px;
    height: 829px;
  }
  .button__slider {
    top: 760px;
  }
  .slider {
    &__logo {
      transform: translateX(0);
    }
    &__line {
      position: absolute;
      height: 1px;
      width: 300px;
      background-color: $secondary-color;
      left: 140px;
      top: 50%;
    }
  }
  .swiper__button {
    position: relative;
  }
}
